# Input mode
input dropdown pdbid pdbfile pdbid

# PDB Structure ID
pdbid string 5L0K

# Custom PDB structure
pdbfile file none.file

# Verbose mode
verbose dropdown false true false

# Break composite ligands
breakcomposite dropdown false true false

# Consider alternative locations
altlocation dropdown false true false

# Don't fix the input structure
nofix dropdown false true false

# Keep modified residue
keepmod dropdown false true false

# Set dependencies
depends_on pdbid input pdbid
depends_on pdbfile input pdbfile
