# Max. distance for hydrophobic contacts
hydroph_dist_max double 4.0

# Max. distance for hydrogen bonds
hbond_dist_max double 4.1

# Min. donor angle for hydrogen bonds
hbond_don_angle_min double 100.0

# Max. angle for aromatic planarity
aromatic_planarity double 5.0

# Max. deviation of angle for pi-stacking
pistack_ang_dev double 30.0

# Max. distance for pi-cation interactions
pication_dist_max double 6.0

# Max. distance for halogen bonds
halogen_dist_max double 4.0

# Max. distance for halogen bonds
halogen_don_angle double 165.0

# Min. distance for water bridges
water_bridge_mindist double 2.5

# Min. angle omega for water bridges
water_bridge_omega_min double 75.0

# Min. angle theta for water bridges
water_bridge_theta_min double 100.0
