<%= provide(:title, "Home")%>
<div class="center jumbotron">
  <h1>Welcome!</h1>
  <h2>This is your personal dashboard for the MF-Project</h2>

  <%= link_to "Register | Login", signup_path, class: "btn btn-lg btn-primary" %>
</div>
