<h1>Available Models</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
    <tr class='clickable-row' data-href='<%= model_path model%>' </tr>
        <td><%= model.name %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure? This will delete all associated model files.' }, :class => "btn btn-mini btn-danger"  %></td>
        <td><%= link_to 'Update', edit_model_path(model), :class => "btn btn-mini btn-info"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
