<%= render :partial => "models/header" %>

<div class="panel panel-info">
  <div class="panel-heading">Description</div>
  <div class="panel-body">
    <%= @model.description %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Help</div>
  <div class="panel-body">
    <%= @model.help %>
  </div>
</div>

<%= link_to 'Back', models_path %>
