<li>
  <%= gravatar_for user, "50" %>
  <%= link_to user.name, user %>

  

  <% if policy(user).destroy? %>
    | <%= link_to "delete", user, method: :delete,
            data: { confirm: "You sure?" } %>
  <% end %>
</li>
