<h5>Introduction</h5>

<h5>Format</h5>

<pre>
  # Mean of first box
  mean1 integer 10
  # Mean of second box
  mean2 integer 20
  # Number of values generated for first box
  n1 integer 100
  # Number of values generated for second box
  n2 integer 50
  # Standard deviation of box 1
  sd1 integer 1
  # Standard deviation of box 2
  sd2 integer 3
</pre>
<caption>Simple configuration file</caption>
