<h4>Overview</h4>
<p>
  MAGPIE offers the possibility to create interactive <a href="help?section=<%= section %>#d3_plot_types">plots</a> (with <a href="https://d3js.org/" target="_blank">D3.js</a>) as an output.
  The only thing you need to provide is one additional <a href="help?section=<%= section %>#d3_config">plot config file</a> for each plot.
  If you are unfamiliar with config files in MAGPIE, see the <a href="help?section=<%= section %>#configuration_example">example</a>.
  <a href="help?section=<%= section %>#d3_example">Here</a> you can directly jump to a simple example for plot config files.
</p>


<div id="d3_plot_types">
  <h4>Plot Types</h4>
  <p>Currently, MAGPIE offers four predefined diagram types with interactive features:
    box plots, scatter plots, bar plots and stacked plots.</p>
</div>

<div id="d3_config">
  <h4>Plot Config Files</h4>
  <p>
    Description coming soon...
  </p>
</div>

<div id="d3_example">
  <h4>Simple Example</h4>
  <p>
    Description coming soon...
  </p>
</div>
