<h5>Why should I use MAGPIE?</h5>
<p>MAGPIE offers a complete solution to host, share, and run all your models.
Sharing your models with the community just requires a simple setup with configuration files.
Once uploaded, MAGPIE will handle all the heavy lifting for you such as version control or job monitoring.
Run your models with different parameter sets, organize your results, and share them with the community.
With these features, MAGPIE is the new home for your models.
</p></br>

<h5>Can I use MAGPIE for any of my projects?</h5>
<p>We don't impose any restriction on the type of project hosted on MAGPIE although the primary focus are
models related to biology, chemistry, and medicine. </p></br>

<h5>Which operating system is used for running the jobs?</h5>
<p>In the background, MAGPIE uses docker containers running Ubuntu 16.04 LTS. </p></br>


<h5>I need a special library for my project, but it is not available on the server.</h5>
<p>We plan to include a web console for installing and updating packages in a future release.
  If you require a specific package or library for your project, please contact <a href="mailto:christoph.baldow@tu-dresden.de">Christoph Baldow</a>.
</p></br>

<h5>How should I cite MAGPIE?</h5>
<p>MAGPIE has not been published yet. For now, please cite MAGPIE as follows:</br>
<u>MAGPIE web service by Christoph Baldow and Sebastian Salentin. Hosted at magpie.imb.medizin.tu-dresden.de</u></p>

<h5>Can I access external services from my models?.</h5>
<p>Yes, this is possible without restriction.
One example is our PLIP demo model, which uses REST access to fetch protein structures from the Protein Data Bank server. </a>.
</p></br>
