<h5>The MAGPIE web service</h5>
MAGPIE is a web service built using the Ruby on Rails web frame work.
It enables you to host and share any model you have developed.
This can be anything from a R script for data visualization to a complex modeling program for systems biology.
Preparing a model for MAGPIE is easy.
Just pack your script files together with one or more configuration files.
They define what a user sees in terms of input forms for parameters and input data on the webserver page.
Once uploaded, anyone can use your model to create new projects to run jobs with custom parameter sets.
MAGPIE offers a clean GUI to manage previous and running jobs and projects.
Our hashtag system allows to tag each project or model and getting updates on the things you are interested in.
In the background, a queuing system and version control enable you to easily submit jobs and tracking changes in models.

<h5>Feature Highlights</h5>
<ul>
  <li>Management of models, projects and jobs in the browser</li>
  <li>Create a webserver application in 30 minutes</li>
  <li>Version Control for Models</li>
  <li>Share your projects and get updates from other users</li>
</ul>
