<h5>Overview</h5>
<p>
Projects are used for running and manage the models in a user specific manner.
Projects are always related to a specific user and consists of a model as well
as jobs. User can create, delete and manage jobs within a project. Additionally,
projects itself can be managed, i.e. published or deleted completely.
</p>

<h5> Project Creation </h5>
<p>
  When creating a new project, the user has to decide for a specific model,
  including the revision.
</p>
