# this is the comment for the conditional dropdown
conditional dropdown string string file

# this is the comment for the string based on the conditional dropdown
string_conditional string conditional_string

# this is the comment for the file based on the conditional dropdown
file_conditional file conditional.file

# this is the comment of the string_variable
string_variable string default_string

# this is the comment of the numeric variable
numeric_variable numeric 0.0

# this is the comment of the integer variable
integer_variable integer 1

# this is the comment of the float variable
float_variable float 2.0

# this is the comment of the double variable
double_variable double 3.0

# this is the comment of the dropdown variable
dropdown_variable dropdown default_value first_entry default_value third_entry

# this is the comment of the file input
file_arbitrary file arbitrary.file


# Here we define the conditionals #
# if conditional is set to string, we show the string_conditional
depends_on string_conditional conditional string

# if conditional is set to file, we show the file_conditional
depends_on file_conditional conditional file
