# this is the comment for the conditional dropdown
conditional string

# this is the comment for the string based on the conditional dropdown
string_conditional conditional_string

# this is the comment for the file based on the conditional dropdown
file_conditional conditional.file

# this is the comment of the string_variable
string_variable default_string

# this is the comment of the numeric variable
numeric_variable 0.0

# this is the comment of the integer variable
integer_variable 1

# this is the comment of the float variable
float_variable 2.0

# this is the comment of the double variable
double_variable 3.0

# this is the comment of the dropdown variable
dropdown_variable default_value

# this is the comment of the file input
file_arbitrary magpie_logo.png
