<div class="panel panel-default">
  <div class="panel-heading">Output</div>
  <div class="panel-body">
    <%= @user_project.output[:stdout]%>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Errors</div>
  <div class="panel-body">
    <%= @user_project.output[:stderr]%>
  </div>
</div>
