<%
p "test"
p @file_string.inspect
for @line in @file_string
  if @line.empty?
    next
  elsif @line.first[0] == "#" || @line.first[0] == " " || @line.first[0] == "/"
    @comment = @line.first
  else
    @line = @line.first.gsub(/\s+/m, ' ').strip.split(" ")
    if @line.length == 1
      next
    end
    @param_name = @line[0]
    @param_type = @line[1]
  end
%>

<% if @param_name != "" %>
<% if @param_type == "range" %>
<% end #if defined as numeric %>
<div class = "col-md-6">
<% if @param_type == "integer" || @param_type == "double" || @param_type == "float" %>
  <% @param_default = @line[2] %>
  <%= f.input "#{@cfile}_#{@param_name}".to_sym,
            label: "",
            required: true,
            as: :numeric ,
            :input_html => { :value => @param_default },
            wrapper_html: { title: @comment },
            hint: @param_name %>
<% elsif @param_type == "string" %>
  <% @param_default = @line[2..@line.length].join(" ") %>
  <%= f.input "#{@cfile}_#{@param_name}".to_sym,
            label: "",
            required: true,
            as: :string ,
            :input_html => { :value => @param_default },
            wrapper_html: { title: @comment },
            hint: @param_name %>
<% end #if defined as numeric %>
  </div>
<%
@comment = ""
@param_name = ""
@param_type = ""
@param_representation = ""
@param_default = ""
@param_min = ""
@param_max = ""
%>
<% end #if @param_name is not empty %>
<% end #line loop %>
