<div class="panel panel-primary">
  <div class="panel-heading">Project | <%= @project.name%></div>
  <div class="panel-body">
    <p>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= @project.user.name %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @project.model ? "#{File.basename(@project.model.name)} | Version #{@project.revision}" : 'Deleted model'%>
    </p>

    <p>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      <%= @project.public ? 'Public' : 'Private'%>
    </p>

  </div>
</div>
