<div class="panel panel-default">
  <div class="panel-heading">Associated Jobs: <%= @project.jobs.length%></div>
  <div class="panel-body">
    <p>
      <ul>
      <% @project.jobs.each do |job| %>
          <li><b>Job ID </b><%= job.id %> with status <%= job.status %> (<%= job.created_at %>)</li>
      <% end %>
    </ul>
    </p>
  </div>
</div>
