<h1></h1>
<legend><%= controller.action_name.capitalize %> Project</legend>
<div class = "row">
  <aside class = "col-md-6">
        <%= render 'form' %>

  </aside>
  <div class = "col-md-6">

    <section class = "model_info">
      <b>Model Information</b><br>
      <div id = "model_info_sync">
        Select a model to see model information!
      </div>
    </section>
  </div>
</div>
