<h1></h1>
<legend><%= controller.action_name.capitalize %> Project</legend>
<div class = "row">
  <aside class = "col-md-6">
        <%= render 'form' %>

  </aside>
  <div class = "col-md-6">

    <section class = "model_info">
      <b>Model Information</b><br>
      Model Information will go here.
      Each model should have a README.md file (markdown)
      with basic information on what the model does.
    </section>
  </div>
</div>
