<%= provide(:title, "About")%>
<div class="center jumbotron">
  <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <div class="col-md-3">
          <%= image_tag("magpie_logo.svg", alt: "Magpie", :height => 150) %>
            </div>
        <h1>MAGPIE</h1>
        <h2>A home for all your models.</h2>
      </div>
</div>
</div>

<div class="row center">
  <div class="column col-md-3"></div>
  <div class="column col-md-6">
<h2>Application</h2>
<p>The <u>M</u>odeling and <u>A</u>nalysis Social <u>G</u>eneric <u>P</u>latform with <u>I</u>ntegrated <u>E</u>valuation
  (MAGPIE) is a web service where you can host, run, and share your models
  with the community.
</p>

<h2>Contact</h2>
<p>Institute for Medical Information and Biometry [<a href="https://tu-dresden.de/med/mf/imb" target="_blank">homepage</a>]</br>
  Medizinische Fakultät Carl Gustav Carus, Technische Universität Dresden</br>
  If you have any questions or recommendations please contact <a href="mailto:christoph.baldow@tu-dresden.de">Christoph Baldow</a>.
</p>

<h2>Citation Info</h2>
<p>If you are using MAGPIE in your work, please cite:</br>
<font color="red">Information coming soon ...</font>
</p>

<h2>Disclaimer</h2>
<p>The MAGPIE web service is provided to the research community in good faith without guarantees of any kind.
</p>
</div>
</div>
