# Input mode 
input pdbid
# PDB Structure ID
pdbid 1vsn
# Custom PDB structure
pdbfile none.file
# Verbose mode
verbose false
# Break composite ligands
breakcomposite false
# Consider alternative locations
altlocation false
# Don't fix the input structure
nofix false
# Keep modified residue
keepmod false
# Set dependencies
