# Max. distance for hydrophobic contacts
hydroph_dist_max 4.0
# Max. distance for hydrogen bonds
hbond_dist_max 4.1
# Min. donor angle for hydrogen bonds
hbond_don_angle_min 100.0
# Max. angle for aromatic planarity
aromatic_planarity 5.0
# Max. deviation of angle for pi-stacking
pistack_ang_dev 30.0
# Max. distance for pi-cation interactions
pication_dist_max 6.0
# Max. distance for halogen bonds
halogen_dist_max 4.0
# Max. distance for halogen bonds
halogen_don_angle 165.0
# Min. distance for water bridges
water_bridge_mindist 2.5
# Min. angle omega for water bridges
water_bridge_omega_min 75.0
# Min. angle theta for water bridges
water_bridge_theta_min 100.0
# Thresholds for detection (global variables)
BS_DIST 7.5
AROMATIC_PLANARITY 5.0
MIN_DIST 0.5
# Some distance thresholds were extended (max. 1.0A) if too restrictive too account for low-quality structures
HYDROPH_DIST_MAX 4.0
HBOND_DIST_MAX 4.1
HBOND_DON_ANGLE_MIN 100
PISTACK_DIST_MAX 7.5
PISTACK_ANG_DEV 30
PISTACK_OFFSET_MAX 2.0
PICATION_DIST_MAX 6.0
SALTBRIDGE_DIST_MAX 5.5
HALOGEN_DIST_MAX 4.0
HALOGEN_ACC_ANGLE 120
HALOGEN_DON_ANGLE 165
HALOGEN_ANGLE_DEV 30
WATER_BRIDGE_MINDIST 2.5
WATER_BRIDGE_MAXDIST 4.0
WATER_BRIDGE_OMEGA_MIN 75
WATER_BRIDGE_OMEGA_MAX 140
WATER_BRIDGE_THETA_MIN 100
METAL_DIST_MAX 3.0
