// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#create-project-hashtags {
  margin-left: 10%;
  margin-right: 0%;
}

#create-project-public-project {
  margin-left: 0%;
  margin-right: 5%;
}

.project-create-dec {
  float: none;
  margin: 0 auto;
}

.project-create-button-top {
  margin-left: 80px;
  margin-bottom: 30px;
  width: 200px;
}

.project-scroll-down-button {
  width: 140px;
  margin-left: 0px;
  margin-bottom: 30px;
}

.model_info {
  margin-left: 0px;
}
