<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "mf-www", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "New Job", new_job_path %></li>
        <li><%= link_to "Jobs", jobs_path %></li>
      </ul>
    </nav>
  </div>
</header>
